body {
background-image: url(https://png.pngtree.com/background/20250108/original/pngtree-happy-birthday-background-for-blue-stereo-creative-picture-image_16090792.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 350px;
}


h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    animation-name: headingAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;

}

@keyframes headingAnimation {
    from {
        color: gray;
        text-shadow: 0 0 10px gray;
    }

    to {
        color: burlywood;
        text-shadow: 5px 5px 10px burlywood;
    }
}

.container form input {
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}

.container .btn {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 16px 10px;
    border-radius: 8px;
    background-color: gray;
    color: whitesmoke;
    transition: all 0.4s ease-in-out;
    border: none;
    outline: none;
}

.container .btn:hover {
    color: black;
    background-color: dodgerblue;
}

#result {
    color: whitesmoke;

}

#happybirthday {
    color: whitesmoke;
}